Django~=3.2.5
djangorestframework~=3.12.4
pandas~=1.2.4
numpy~=1.20.3
requests~=2.25.1
beautifulsoup4~=4.9.3
openpyxl~=3.0.9
mysql~=0.0.3
mysql-connector-python~=8.0.28
python-dotenv~=0.20.0
cache~=1.0.3
diskcache~=5.4.0
mysqlclient~=2.1.0
fontawesomefree==6.1.2


