{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid d-flex justify-content-center">
    <h1 class="black_ops_font text-success">Hacking Tools Web</h1>
</div>
<ul>
    <li><a href="/" >Portada</a></li>
    <li><a href="/about/">Acerca de</a></li>
    <li><a href="/contact/">Contacto</a></li>
</ul>

<h2>Bienvenidos</h2>

<p>Esto es la portada.</p>
</body>
</html>

{% endblock %}