.dataTables_info {
    color: white !important;
}

#dataTable-custom_filter > label > input[type=search] {
    color: white;
}

input[name="dataTable-custom_length"] {
    color: white !important;
}

#dataTable-custom_length label {
    color: white;
}

#dataTable-custom_filter label {
    color: white;
}

th, td {
    text-align: center;
}