.dataTables_info{
    color: white!important;
}

input[type=search]{
    background-color: white;
    color: white;
}
input[name="dataTable-custom_lengt"]{
    color: white !important;
}
label{
    color: white;
}

#dataTable-custom_filter label {
    color: white;
}

.sorting, .sorting_asc, .sorting_desc{
    font-family: Sriracha;
    font-size: 1.1rem;
    font-weight: 400;
}

.odd, .even{
    background-color:#161515 !important;
    color: #198754;
    font-family: Sriracha;
}

.table{
    background-color: #198754 !important;
    --bs-table-hover-color: #198754 !important;
    --bs-table-hover-bg: #198754 !important;
}

.table th, .table td{
    border-top: none !important;
    border-color: #1a1919;
}

table.dataTable thead th{
    font-weight: normal !important;
    font-style: italic !important;
    font-size: 1.2rem !important;
}

