.dataTables_info{
    color: white!important;
}

input[type=search]{
    background-color: white;
    color: white;
}
input[name="dataTable-custom_lengt"]{
    color: white !important;
}
label{
    color: white;
}

#dataTable-custom_filter label {
    color: white;
}

th, td {
    text-align: center;
}
.scrap-button{
    border-radius: 50rem 5% 5% 50rem !important;
}
.reset-button{
    border-radius: 5% 50rem 50rem 5%!important;
}