{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link type="text/css" href="{% static 'vendor/bootstrap/css/style.css'%}" rel="stylesheet">
  <link type="text/css" href="{% static 'resources/style.css'%}" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <title>Hacking Tools</title>

</head>

<body id="body-pd">

    <div class="wrapper d-flex align-items-stretch bg-gray">
			<nav id="sidebar" class="bg-black-dark">
	  		<div class="img bg-wrap text-center py-4" style="background-image: url({% static 'images/ciber_background.jpg' %});">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url({% static 'images/cerberus.jpg' %});"></div>
	  				<h3 class="chelsea_font">G3R1ON</h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/" class="chelsea_font text-light"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="/webScraping/" class="chelsea_font text-light"><span class="far fa-claw-marks mr-3"></span>Web Scraping</a>
          </li>
          <li>
            <a href="#" class="chelsea_font text-light"><span class="fas fa-scroll-old mr-3"></span>ReverShells</a>
          </li>

        </ul>

    	</nav>
        <div class="">
            <button id="sidebarCollapse" class="btn btn-outline-blue-dark rounded-bottom"><i class="fas fa-bars"></i></button>
        </div>


        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
          {% block content %}

        {% endblock %}
      </div>
		</div>

    <script src="{% static 'vendor/bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/main.js' %}"></script>
</body>

</html>
